<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Squawk Box</h1>
  <p class="lead">
    Join the conversation and share your thoughts with the world.
  </p>
  <hr class="my-4" />

  <div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg mx-2" href="/login" role="button">Login</a>
    <a class="btn btn-success btn-lg mx-2" href="/register" role="button"
      >Register</a
    >
  </div>
</div>
